### while
- it executes block or set of instructions until the condition is false
- while we dont the range
- execute faster than for loop
- user incrementation

In [ ]:
#while syntax
initilization
while condition:
    statements
    incre/decrements

In [9]:
n=1
while n<=5:
    print("pushpa ante flower anukuntiva fireuu")
    n=n+1

pushpa ante flower anukuntiva fireuu
pushpa ante flower anukuntiva fireuu
pushpa ante flower anukuntiva fireuu
pushpa ante flower anukuntiva fireuu
pushpa ante flower anukuntiva fireuu

In [5]:
n=10
while n>=1:
    print(n,end=" ")
    n=n-1

10 9 8 7 6 5 4 3 2 1

In [6]:
#i/p 1234
#o/p digit count:4
s=int(input())
c=0
while(s!=0):
    c=c+1
    s=s//10
print("\ndigit count:",c)

37568782

digit count: 8

In [10]:
# palindrome or not ,121--121,mom--mom
n=int(input())
n=int(input("Enter number:"))
temp=n
rev=0
while(n>0):
    dig=n%10
    rev=rev*10+dig
    n=n//10
if(temp==rev):
    print("The number is a palindrome!")
else:
    print("The number isn't a palindrome!")

323
Enter number:323
The number is a palindrome!

In [11]:
n=int(input())
temp=n
rev=0
while(n!=0):
    rem=n%10
    rev=rev*10+rem
    n=n//10
    if(temp==rev):
        print("palindrome")
    else:
        print("not a palindrome")

121
not a palindrome
not a palindrome
palindrome

In [ ]:
# syntax::nested for loop
for iter in range(strange,end,step):
    for iter in range(start,end,step):
        statement1
        statementn

In [ ]:
#matrix format
- rows,columns
- 2dimensions
    1 2 3
    1 2 3

In [13]:
for row in range(1,5):
    for column in range(1,5):
        print(row,end=" ")
    print()#new line

1 1 1 1
2 2 2 2
3 3 3 3
4 4 4 4

In [16]:
for row in range(1,5):
    for column in range(1,5):
        print("*",end=" ")
    print()#new line

* * * *
* * * *
* * * *
* * * *

In [ ]:
*
* *
* * *
* * * *
* * * * *

In [18]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

In [20]:
for row in range(6,0,-1)
    for column in range(1,row+1):
        print("*",end=" ")
    print()

* * * * * *
* * * * *
* * * *
* * *
* *
*

In [22]:
for row in range(1,6):
    for column in range(1,row+1):
        print("*",end=" ")
    print()
for row in range(6,0,-1):
    for column in range(1,row+1):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [34]:
#1-10 primenumbers:2,3,5,7
st=int(input())
en=int(input())
for num in range(st,en+1):
    c=0
    for var in range(1,num+1):#(1,1)(1,2)(1,3)(1,4)
        if num%var==0:
            c+=1
    if c==2:
        print(num,end=" ")

1
10
2 3 5 7

In [32]:
n=int(input())
c=0
for i in range(1,n+1):
    if n%i==0:
        c+=1
if(c==2):
    print("prime number")
else:
    print("not prime number")

1
not prime number

In [ ]:
n=int(10)
for i in range(1,11)
print(n,"*")

In [ ]:
#syntax
initilization
while condition:
    statements
    incr/decr
    while condition:
        statements
        incr/decr

In [4]:
#1 t0 10 tables
i=1
while i<=10:
    j=-1
    while j<=10:
        print(i,"*",j,"=",i*j)
        j+=1
    print()
    i+=1

1 * -1 = -1
1 * 0 = 0
1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

2 * -1 = -2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

3 * -1 = -3
3 * 0 = 0
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
3 * 10 = 30

4 * -1 = -4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

5 * -1 = -5
5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

6 * -1 = -6
6 * 0 = 0
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

7 * -1 = -7
7 * 0 = 0
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
7 * 10 = 70

8 * -1 = -8
8 * 0 = 0
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

9 * -1 = -9
9 * 0 = 0
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81
9 * 10 = 90

10 * -1 = -10
10 * 0 = 0
10 * 1 = 10
10 * 2 = 20
10 * 3 = 30
10 * 4 = 40
10 * 5 = 50
10 * 6 = 60
10 * 7 = 70
10 * 8 = 80
10 * 9 = 90
10 * 10 = 100

### jump statements
- we called as unconditional jumps
- break
- continue
- pass

### break
- terminates the current loop statements
- break is a keyword

In [5]:
for i in "python":
    if i=='h':
        break
    print(i)

p
y
t

In [9]:
i=0
while(i<=10):
    i=i+1
    if (i==7):
        break
    print(i)

1
2
3
4
5
6

### continue
- it skips only current iteration and continue the next iteration
- continue is also a keyword

In [10]:
for i in range(10):
    if i==6:
        continue
        print("fdp")
    print(i)

0
1
2
3
4
5
7
8
9

In [16]:
# print odd numbers condition using continue statement
for i in range(1,10):
    if i%2==0:
        continue
    print(i,end=" ")

1 3 5 7 9

### pass
- it is a keyword
- when we need condition scientifically correct another operation 
- it is a null operation
- pass statement we use to create empty classes also

In [18]:
s="python"
for i in s:
    if i=='h':
        pass
        print("pass executed")
    print(i)

p
y
t
pass executed
h
o
n

### string
- string is a group of characters
- string is a derived data type
- all strings returns a new values

In [19]:
a="edfgsdrbd"
print(type(a))

<class 'str'>

In [20]:
print(len(a))

9

In [21]:
print(min(a))
print(max(a))
print(sorted(a))
#print(sum(a))

b
s
['b', 'd', 'd', 'd', 'e', 'f', 'g', 'r', 's']

In [22]:
s="python"
s1="workshop"
print(s+s1)
print(s,s1)
print(s*s1)

pythonworkshop
python workshop

TypeError: can't multiply sequence by non-int of type 'str'

In [27]:
# slicing syntax ::(start:end:step)
# positive indexing(left to right)
# negative indexing(right to left)
s="python workshop"
print(len(s))
print(s[0])
print(s[5])
print(s[14])
print(s[-1])
print(s[-2])
print(s[::])
print(s[::-1])
print(s[0::4])

15
p
n
p
p
o
python workshop
pohskrow nohtyp
pooh

In [28]:
dir(str)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [34]:
s='vasavi college'
s="vasavi college"
s1=''''i am from
apssdc
i am sidhodana'''
s2="""engineering department ghdwuyQILLUIS"""

In [35]:
print(s1)

'i am from
apssdc
i am sidhodana

In [36]:
print(s2)

engineering department ghdwuyQILLUIS

In [40]:
n="TRUGjifwenoy"
print(n)
print(n.upper())
print(n.lower())

TRUGjifwenoy
TRUGJIFWENOY
trugjifwenoy

In [41]:
m="faculty development program"
print(m)
print(m.title())

faculty development program
Faculty Development Program

In [43]:
s2="workshop"
s3="WORKSHOP"
s4="workshop"
print(s2.islower(),s3.isupper(),s4.isupper())

True True False

In [46]:
s7="India Is My Country"
s7.istitle()

True

In [47]:
s7="India Is My country"
s7.istitle()

False

In [49]:
s8=" "
s8.isspace()

True

In [50]:
# is digit-which is used to identify the digits in a given string is alpha-which returns true,alphabets present in a given string
r="python3"
r.isalpha()

False

In [51]:
r.isdigit()

False

In [52]:
s="375948654395"
s.isalnum()

True

In [57]:
s="twybehinw xebgywnkjl yedj tq hdfsguy"
s.split()

['twybehinw', 'xebgywnkjl', 'yedj', 'tq', 'hdfsguy']

In [59]:
s="twybehi@nw xebgywnkjl yedj tq hdfsguy"
s.split('@')

['twybehi', 'nw xebgywnkjl yedj tq hdfsguy']

In [60]:
s="twybehinw xebgywnkjl yedj tq hdfsguy"
s.split('w')

['t', 'ybehin', ' xebgy', 'nkjl yedj tq hdfsguy']

In [61]:
s="GVUKvljkhf"
s2=''
for i in s:
    if i.islower():
        s2+=i.upper()
    else:
        s2+=i.lower()
print(s2)

gvukVLJKHF

In [62]:
#swapcase
s.swapcase()

'gvukVLJKHF'

In [65]:
s="ngvrgh fhncwefjk hvnlwerkam"
s

'ngvrgh fhncwefjk hvnlwerkam'

In [66]:
#count:: to know the number of occurences
s.count('a')

1

In [68]:
s.index('k') # searching starts from the begining

15

In [69]:
s.rindex('f') # searching starts from ending

13

In [70]:
# find--it will return index position of the character
s.find('k')

15

In [71]:
s.index('ngvrgh')

0

In [72]:
# replace used to replace the old character
# strip is used to remove the white space
d="bye vasavi college"
d.replace('bye','hi')

'hi vasavi college'

In [73]:
d="        hello sdc"
print(d)

        hello sdc

In [74]:
d.strip()

'hello sdc'

In [75]:
d.lstrip()

'hello sdc'

In [76]:
d.rstrip()

'        hello sdc'

In [77]:
# join
# center
# startswith
# endswith
s="thursday"
'@'.join(s)

't@h@u@r@s@d@a@y'

In [79]:
s="thursday"
'.'.join(s)

't.h.u.r.s.d.a.y'

In [80]:
s.center(1)

'thursday'

In [81]:
s.zfill(10)

'00thursday'

In [84]:
s2="toady is the 3rd day"
len(s2)
s2.zfill(25)

'00000toady is the 3rd day'

In [86]:
s2.startswith('to')

True

In [87]:
s2.startswith('day')

False

### data structres
- list
  - list is mutable
  - represented with[]
  - Slicing Indexing are same as the things concepts.
- tuple
- dictonaries
DT are two types:
- immutable
  - we can't change once it declared.
  - ex:string,tuple
- mutable
  - we can change at any time after its declaration.
  - ex:list,dictionaries

In [88]:
li=[3,3,4,5,5,7]
print(li)

[3, 3, 4, 5, 5, 7]

In [89]:
len(li)

6

In [90]:
print("length of the list",len(li))
print("max one of the list",max(li))
print("min one of the list",min(li))

length of the list 6
max one of the list 7
min one of the list 3

In [94]:
a=['apple',5,8,6,24]
b=[3,4,'today',5,3]

In [95]:
a+b #concatination

['apple', 5, 8, 6, 24, 3, 4, 'today', 5, 3]

In [96]:
'apple' not in a

False

In [97]:
names=['suryabhai','pedhananna','vinny','rakeshmaster','pedhama','manu']
names[0]
names[5]

'manu'

In [98]:
names[1]
names[:5]

['suryabhai', 'pedhananna', 'vinny', 'rakeshmaster', 'pedhama']

In [99]:
s='surya'
s[0]
s[:3]
s[0:3]
s[2:6]
s[:2]

'su'

In [101]:
li1=['vasavi','college','tadepalli']

In [ ]:
li1